div > h2{

    background-color:#23436c ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    margin: auto;
    padding: 10px;
}
div {
    background-color:#C2D4EB ;
    margin: auto;
    padding: 10px;
}
.header {
    padding: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: #23436c;
    color: white;
    font-size: 30px;
  }
h2 {
margin: 10px;
padding: 10px;
background-color: ;
}
button {
    background-color: #23436c;
    color: aliceblue;
}

button:hover{
    background-color: #2c5588;
}
.video {
text-align: center;
display: block;

    
}